/*                                                                                              
                                                                                                                    
                                                            dddddddd                                                
        CCCCCCCCCCCCC                                       d::::::d       iiii       lllllll                       
     CCC::::::::::::C                                       d::::::d      i::::i      l:::::l                       
   CC:::::::::::::::C                                       d::::::d       iiii       l:::::l                       
  C:::::CCCCCCCC::::C                                       d:::::d                   l:::::l                       
 C:::::C       CCCCCC        ooooooooooo            ddddddddd:::::d      iiiiiii       l::::l         ooooooooooo   
C:::::C                    oo:::::::::::oo        dd::::::::::::::d      i:::::i       l::::l       oo:::::::::::oo 
C:::::C                   o:::::::::::::::o      d::::::::::::::::d       i::::i       l::::l      o:::::::::::::::o
C:::::C                   o:::::ooooo:::::o     d:::::::ddddd:::::d       i::::i       l::::l      o:::::ooooo:::::o
C:::::C                   o::::o     o::::o     d::::::d    d:::::d       i::::i       l::::l      o::::o     o::::o
C:::::C                   o::::o     o::::o     d:::::d     d:::::d       i::::i       l::::l      o::::o     o::::o
C:::::C                   o::::o     o::::o     d:::::d     d:::::d       i::::i       l::::l      o::::o     o::::o
 C:::::C       CCCCCC     o::::o     o::::o     d:::::d     d:::::d       i::::i       l::::l      o::::o     o::::o
  C:::::CCCCCCCC::::C     o:::::ooooo:::::o     d::::::ddddd::::::dd     i::::::i     l::::::l     o:::::ooooo:::::o
   CC:::::::::::::::C     o:::::::::::::::o      d:::::::::::::::::d     i::::::i     l::::::l     o:::::::::::::::o
     CCC::::::::::::C      oo:::::::::::oo        d:::::::::ddd::::d     i::::::i     l::::::l      oo:::::::::::oo 
        CCCCCCCCCCCCC        ooooooooooo           ddddddddd   ddddd     iiiiiiii     llllllll        ooooooooooo
*/

*{	
  box-sizing: border-box;	
  font-family: Shabnam;	 
  margin: 0;	
  padding: 0;
} 
body
{
  align-items: center;
  background: #091921;
  display: flex;
  justify-content: center;
  min-height: 100vh;
} 
.form
{	
  background: #091921;	
  border-radius: 10px;	
  box-shadow: -5px -5px 8px rgba(255,255,255,0.1),	 5px 5px 15px rgba(0,0,0,0.8);	
  padding: 50px 20px 60px;	
  position: relative;	
  text-align: center;	
  width: 370px;
} 
.form h2
{
  color:#22F2AA;	
  font-size: 28px;	
  font-weight: 700;	
  text-shadow: 0 0 10px #22F2AA;	text-transform: uppercase;
}
.form .form-content
{
  margin: 45px 22px;	
  text-align: right;
} 
.form .form-content .form-box
{	
  margin-top: 25px;
} 
.form .form-content .form-box label
{	
  color: #FFFFFF;
  display: block;	
  font-size: 18px;	
  letter-spacing: 2px;	
  margin-bottom: 5px;
} 
.form .form-content .form-box input
{
  background: #091921;	
  border: none;	
  border-radius: 
    10px;	box-shadow:inset -3px -3px 6px rgba(255,255,255,0.1),	inset 3px 3px 6px rgba(0,0,0,0.8);	
  color:#6f6f6f;	
  font-size: 18px;	
  height: 50px;	
  outline: none;	
  padding: 5px 15px;
  width: 100%;
}
.form .form-content .form-box input:focus
{
  text-shadow: 0 0 10px #22F2AA;	
  color: #22F2AA;
}
.form .form-content .form-box input[type="submit"]{	box-shadow: -3px -3px 6px rgba(255,255,255,0.1),	 3px 3px 6px rgba(0,0,0,0.8);	
  font-weight: 600;	
  margin-top: 20px;
}
.form .form-content .form-box input[type="submit"]:active{	box-shadow: 0 0 20px #22F2AA;	
  background: #22F2AA;	
  color: #091921;
  margin-top: 20px;
} 
.form .form-content .form-box input::placeholder
{	
  color: #6f6f6f;	
  text-shadow: none !important;	font-size: 18px;
}
.form-forget
{	
  color: #6f6f6f;	
  margin-top: 30px;
} 
.form-forget a
{	
  color:#22F2AA;	
  text-shadow: 0 0 10px #22F2AA;
}

/* 
   ____   U  ___ u  ____              _       U  ___ u 
U /"___|   \/"_ \/ |  _"\    ___     |"|       \/"_ \/ 
\| | u     | | | |/| | | |  |_"_|  U | | u     | | | | 
 | |/__.-,_| |_| |U| |_| |\  | |    \| |/__.-,_| |_| | 
  \____|\_)-\___/  |____/ uU/| |\u   |_____|\_)-\___/  
 _// \\      \\     |||_.-,_|___|_,-.//  \\      \\    
(__)(__)    (__)   (__)_)\_)-' '-(_/(_")("_)    (__)

*/